<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.untref.lp4.proyectodomotica">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PortadaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HabitacionesActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.RegistroActivity"
            android:label="@string/title_activity_registro" />
        <activity
            android:name=".activities.ArtefactosActivity"
            android:label="@string/title_activity_artefactos" />
        <activity
            android:name=".activities.ConfiguracionActivity"
            android:label="@string/title_activity_configuracion" />
        <activity
            android:name=".activities.EstadisticasActivity"
            android:label="@string/title_activity_estadisticas" />
    </application>

</manifest>
